#line_chart {
  border-radius: 10px;
  background-color: #f0f0f0;
  padding: 2%;
  max-width: 100%;
  margin: 10% auto;
  position: relative;
  z-index: 0;
}

#chartHeading {
  text-align: center;
}

#container {
  text-align: center;
  height: 750px;
  width: 90%;
  margin: 0 auto;
}