#regionData {
  background-color: white;
  width: 60%;
  border-radius: 20px;
  padding: 40px;
  margin: 20px auto;
  margin-bottom: 100px;
  box-shadow: 0 4px 8px 0 rgba(241, 113, 58, 0.2),
    0 6px 20px 0 rgba(241, 113, 58, 0.19);
  font-family: Arial, sans-serif;
  position: relative;
  z-index: 0;
}

#tableHeading {
  text-align: center;
}

.regionDataTableHeader {
  font-size: large;
}
