.navbar {
  height: 6.67vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.logo-img {
  height: 60px;
  object-position: center;
  object-fit: contain;
  /* 保证 logo 图片不会被拉伸或压缩 */
}

.navbar-section {
  display: flex;
  align-items: center;
  /* 垂直居中对齐所有子项目 */
  /* gap: 1rem; */
  gap: 0.5rem;
}


.navbar-section .logo,
.navbar-section .location,
.navbar-section a {
  color: #f1713a;
}

.navbar-section a {
  color: #f1713a;
  text-decoration: none;
  /* margin-right: 20px; */
  /* 为每个链接增加右边距 */
  transition: color 0.3s;
  /* 平滑地过渡颜色变化 */
  font-size: 16px;
  font-weight: 500;


  padding: 8px 18px;
  border-radius: 20px;
  background-color: transparent;
  /* 默认背景透明 */
  transition: background-color 0.3s,
    box-shadow 0.3s;
  /* 添加阴影过渡 */
  /* 平滑地过渡背景颜色变化 */
}

.navbar-section a:hover {
  color: #c25100;
  /* 悬停时的颜色，稍微深一点 */

  background-color: #ffffff;
  /* 设置悬停时的背景颜色 */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  /* 添加轻微的阴影 */
}

.icon {
  display: block;
  /* 使图标成为块级元素 */
  margin: 0 auto;
  /* 如果需要，可以使图标在其容器中居中 */
}

.icon-text {
  text-align: center;
  text-size-adjust: 14px;
  /* 使文本居中 */
}

.location {
  margin-left: 15px;
  font-size: 18px;
}

.navbar-section:first-child {
  margin-right: 300px;
  /* 使第一个navbar-section向右移动 */
}