.footer {
  background-color: #f1713a;
  color: #ffffff;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.footer-section1 {
  display: flex;
  padding: 0 4rem;
  gap: 1.5rem;
  align-items: center;
}

.footer-section2 {
  display: flex;
  padding: 0 5rem;
  gap: 2.0rem;
  align-items: center;
}

.logo {
  margin-right: 3rem;
  font-size: 22px;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
}

.icon {
  font-size: 20px;
  /* 设置图标的大小 */
  margin-right: 20px;
  /* 设置图标的右边距 */
  transition: color 0.3s;
  /* 平滑地过渡颜色变化 */
}

.footer a:hover .icon {
  color: #c25100;
  /* 悬停时的颜色，稍微深一点 */
}